*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.hidden {
    display: none;
}

.container {
    max-width: 1920px;
    max-height: 1080px;
}

.banner__logo {
    text-align: center;
    margin-top: 18%;
}

.header__list-link {
    text-decoration: none;
    color: white;
}

.header__list-link:hover {
    text-decoration: none;
    color: grey;
}

.banner__cont {
    display: flex;
    max-width: 1200px;
    max-height: 1000px;
    margin: 150px 50px 50px 150px;
}

.header__list {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.banner__text {
    color: white;
}

.banner__img {
    display: flex;
    
}

